.instance_new {
	cursor: pointer;
}

.sidebar{
	.treeview-menu{
		.ion{
			float: left;
		}
		.inbxo-flow{
			.flow-name{
				//overflow: hidden;
				//white-space:nowrap;
				//text-overflow:ellipsis;
				width:160px;
				//display:inline-block;
			}
		}
	}
}

.sidebar-collapse{
	.sidebar{
		.treeview-menu{
			max-height: 350px;
			overflow-y: auto;
			.inbxo-flow{
				.flow-name{
					width:115px;
				}
			}
		}
	}
}