**/bin/**
**/build/*
**/node_modules/*
**/tmp/*
**/.npm/*

.build

.idea

.meteor/local
.meteor/meteorite


settings.json
.idea/**
start.bat
start-qywx.bat
.screenshots
start.bat

tests
qywx.bat
debug.log
