[submodule "packages/steedos-emailjs"]
	path = packages/steedos-emailjs
	url = https://github.com/steedos/steedos-emailjs/
[submodule "packages/steedos-portal"]
	path = packages/steedos-portal
	url = https://github.com/steedos/steedos-portal/
