.instance-list{

  .dataTables_wrapper tbody tr td {
    position: relative;
  }

  .instance-read-bar{
    position: absolute;
    width: 5px;
    left: 1px;
    top: 0px;
    bottom: 0px;
  }

  .unread{
    background: #106EBE;
  }
}