.instance-list{

  .dataTables_wrapper tbody tr td {
    position: relative;
  }

  .flow-name{
    padding-left: 15px;
    width: 69%;
    color: #777;
  }
  .dataTables_wrapper{

    .div-columns{
      thead {
        display: none;
      }
    }
    .table-columns{
      thead {

        th:first-child{
          padding-left: 20px  !important;
        }

        th{
          white-space: nowrap;
          min-width: 95px;
        }

        display: contents !important;
      }

      .flow-name{
        padding-left: 0px !important;
      }
    }
  }


  .instance-name{
    span{
      color: #333;
      display: inline-block;
      float: right;
      font-weight: normal;
      margin-right: 10px;
    }
  }
  .selected .instance-name span{
    color: #fff;
  }
  .selected .instance-modified{
    color: #fff;
  }
  .selected .flow-name{
    color: #fff;
  }
  .instance-modified{
    color: #777;
  }

  .instance-read-bar{
    position: absolute;
    width: 20px;
    left: 1px;
    top: 0px;
    bottom: 0px;
    line-height: 35px;
    text-align: center;
  }

  .unread{
    color: #1f95ec;
    position: absolute;
    top: 9px;
    left: 5px;
    font-size: 90%;
  }

  .instance-step-current-name{
    color: #999;
    font-weight: 400;
    padding-left: 5px;
    display: initial;
  }

  .selected .instance-step-current-name{
    color: #fff;
  }

  .toolbar{
    min-height:51px;
  }

  .search-tip-bar{
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
  }
}

#instance_more_search_modal{
  .submit-date-icon{
    border-right: none;
  }
  .submit_date_end{
    padding-top: 5px;
  }
}