body{
    background-color: #222d32;
    background-size: cover;
    background-image: url('/packages/steedos_theme-qhd/client/background/sea.jpg');
}
.bg-body {
    background-color: #222d32;
    background-size: cover;
    &.bg-body-birds{
        background-image: url('/packages/steedos_theme-qhd/client/background/birds.jpg');
    }
    &.bg-body-blue{
        background-image: url('/packages/steedos_theme-qhd/client/background/blue.jpg');
    }
    &.bg-body-books{
        background-image: url('/packages/steedos_theme-qhd/client/background/books.jpg');
    }
    &.bg-body-cloud{
        background-image: url('/packages/steedos_theme-qhd/client/background/cloud.jpg');
    }
    &.bg-body-sea{
        background-image: url('/packages/steedos_theme-qhd/client/background/sea.jpg');
    }
}


.skin-green {
    .at-form {
        a {
            color: white;
        }
    }    
    .wrapper {
        background: transparent;
    }

    .main-header .logo {
        background: rgba(26, 34, 38, 0.7);
    }

    .main-sidebar {
        background: rgba(34,45,50,0.7);

        .sidebar-menu {
            .header-workflow {
                display: none;
            }
        }
        .sidebar-menu > li.header {
            color: #d8d8d8;
            background: rgba(26, 34, 38, 0.3);
        }
        .sidebar-menu > li > a {
            color: #ffffff;
        }
        .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
            background: rgba(26, 34, 38, 0.5);
        }

    }

    .content-wrapper {
        background: rgba(255, 255, 255, 0.3);
    }
}