
@media (max-width: 767px) {
    .instance-list-wrapper{
        .navigation-bar{
            .instance_new{
                display: none !important;
            }
        }
    }
    .main-sidebar{
        .sidebar-menu{
            .instance_new, .draft, .pending, .completed, .monitor{
                display: none !important;
            }
        }
    }

    .steedos-help{
        display: none !important;
    }

    .steedos-logout{
        display: block !important;
    }

}


.cf_space_user_list_table{
  .selectTag-profile{
    display: none !important;
  }
}
.login .main-header{
    display:none;
}