body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, SimSun;
}

h1,h2,h3,h4,h5 {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Microsoft Yahei, SimHei;
	font-weight: bold;
}

.safari{
	select{
		appearance:none;
		-webkit-appearance:none;
		outline:none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
}

.steedos {
	.logo {
		font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Microsoft Yahei, SimHei;
		font-weight: bold;
		.logo-arrow{
			float: right;
			margin-top: -50px;
			font-size: 14px;
		}
	}
	.navigation-title {
		font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Microsoft Yahei, SimHei;
		font-weight: bold;
	}
}

.hidden {
  display: none !important;
}

.ion {
	font-size: 120%;
}

.steedos {
 
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
		background-color: #F9F9F9;
		opacity: 1;
		color: black;  
	}
}

.jstree-default .jstree-wholerow-clicked {
	background: #08C;
}

.jstree-default .jstree-clicked{
	color:white;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
span,a{
	&.text-overflow{
		display:inline-block;
	}
}


.btn-transparent {
	background-color: transparent;
	color: #444;
	border: none;
	&.btn:focus, &.btn:active:focus, &.btn.active:focus, &.btn.focus, &.btn:active.focus, &.btn.active.focus{
		outline:none;
		box-shadow: none;
	}
}

.modal{
	.modal-header{
		.btn-help{
			margin-left:4px;
			padding:0px;
		}
	}
	.modal-footer{
		.btn-help{
			margin-top:6px;
			padding:0px;
		}
	}
	.modal-body{
		overflow-x:hidden;
		overflow-y:auto;
		&.panel{
			border-radius: 0;
			padding: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.zoom-normal{
}
.zoom-large{
	-ms-text-size-adjust: auto;
	-webkit-text-size-adjust: auto;
	zoom:120%;
	.modal{
		zoom:80%;

		.modal-header{
			zoom:120%;
		}
		.modal-footer{
			zoom:120%;
		}
		.modal-zoom{
			zoom:120%;
		}

		.box{
			zoom:120%;
			.box{
				/*这里是为了兼容出现两层box嵌套的情况*/
				zoom:100%;
			}
		}
		&.forward-select-flow-modal{
			.modal-body>div{
				zoom:120%;
			}
		}
		&#instance_cc_modal{
			.modal-body>form{
				zoom:120%;
			}
		}
		.admin-dashboard-body>form{
			zoom:120%;
		}
		.modal-body>.weui_grids{
			zoom:120%;
		}
		.mail-account-modal{
			.modal-body>form{
				zoom:120%;
			}
		}
	}
}
.zoom-extra-large{
	-ms-text-size-adjust: auto;
	-webkit-text-size-adjust: auto;
	zoom:135%;
	.modal{
		zoom:74%;

		.modal-header{
			zoom:135%;
		}
		.modal-footer{
			zoom:135%;
		}
		.modal-zoom{
			zoom:135%;
		}

		.box{
			zoom:135%;
			.box{
				/*这里是为了兼容出现两层box嵌套的情况*/
				zoom:100%;
			}
		}
		&.forward-select-flow-modal{
			.modal-body>div{
				zoom:135%;
			}
		}
		&#instance_cc_modal{
			.modal-body>form{
				zoom:135%;
			}
		}
		.admin-dashboard-body>form{
			zoom:135%;
		}
		.modal-body>.weui_grids{
			zoom:135%;
		}
		.mail-account-modal{
			.modal-body>form{
				zoom:135%;
			}
		}
	}
}


/*IE11不支持zoom需要特别定制*/
_:-ms-fullscreen,
:root .zoom-large{
	.modal{
		zoom:normal;
		.modal-header{
			zoom:120%;
			width:83%;
		}
		.modal-footer{
			zoom:120%;
			width:83%;
		}
		.modal-zoom{
			zoom:120%;
			width:83%;
		}

		.box{
			zoom:120%;
			width:83%;
			.box{
				/*这里是为了兼容出现两层box嵌套的情况*/
				zoom:normal;
				width:auto;
			}
		}
		&.forward-select-flow-modal{
			.modal-body>div{
				zoom:120%;
				width:83%;
			}
		}
		&#instance_cc_modal{
			.modal-body>form{
				zoom:120%;
				width:83%;
			}
		}
		.admin-dashboard-body>form{
			zoom:120%;
			width:83%;
		}
		.modal-body>.weui_grids{
			zoom:120%;
			width:83%;
		}
		.mail-account-modal{
			.modal-body>form{
				zoom:120%;
				width:83%;
			}
		}
	}
}

/*IE11不支持zoom需要特别定制*/
_:-ms-fullscreen,
:root .zoom-extra-large{
	.modal{
		zoom:normal;
		.modal-header{
			zoom:135%;
			width:74%;
		}
		.modal-footer{
			zoom:135%;
			width:74%;
		}
		.modal-zoom{
			zoom:135%;
			width:74%;
		}

		.box{
			zoom:135%;
			width:74%;
			.box{
				/*这里是为了兼容出现两层box嵌套的情况*/
				zoom:normal;
				width:auto;
			}
		}
		&.forward-select-flow-modal{
			.modal-body>div{
				zoom:135%;
				width:74%;
			}
		}
		&#instance_cc_modal{
			.modal-body>form{
				zoom:135%;
				width:74%;
			}
		}
		.admin-dashboard-body>form{
			zoom:135%;
			width:74%;
		}
		.modal-body>.weui_grids{
			zoom:135%;
			width:74%;
		}
		.mail-account-modal{
			.modal-body>form{
				zoom:135%;
				width:74%;
			}
		}
	}
}

/*IE11 .zoom-large,.zoom-extra-large字体放大需要该样式*/
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	html{
		height:100%;
	}
}

/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-large,.zoom-extra-large{
	overflow:hidden;
	.app-wrapper{
		position:relative!important;
	}
}

/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-large{
	margin-right: -7px;
	margin-bottom: -7px;
	.app-wrapper{
		width: 83%;
		height: 83%;
	}
}

/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-extra-large{
	margin-right: -2px;
	margin-bottom: -2px;
	.app-wrapper{
		width: 74%;
		height: 74%;
	}
}

/*字体放大时，ie11/edge上tootip箭头位置不对*/
.zoom-large,.zoom-extra-large{
	.tooltip.left .tooltip-arrow{
		top:50%!important;
	}
}


.dropdown-menu{
	a:hover{
		cursor: pointer;
	}
}

.dataTables_wrapper{
	.table-responsive{
		border: none;
	}
}

.modal-dialog .modal-content{
	border-radius: 4px;
}

.list-group{
	button.list-group-item{
		outline:none;
	}
}

/*APP中让弹出的服务器列表窗口显示在最上面*/
#serverList{
	z-index:9999999999!important;
}