.steedos {
	.main-header {
	    box-shadow: rgba(0,0,0,0.3) 0 1px 9px, rgba(255,255,255,0.2) 0 -1px 0 inset;
	    transition: all 1s ease-in-out 0.5s;
	    border-bottom: 1px solid #000;
	    border-bottom: 1px solid rgba(0,0,0,0.2);
	    background: #000;
	    background: rgba(0, 0, 0, 0.8);

		.logo {
			width: 50px;
			.logo-mini {
				display: block;
				.ion {
					font-size: 25px;
	    			line-height: 50px;
				}
			}
		}
		.navbar {
			margin-left: 50px;
			background-color: transparent;
			.appName {
				font-size: 20px;
			}
			.nav{
				li {
					a {
						&:hover{
							background-color: rgba(60, 60, 60, 0.6);
						}
					}
				}
			}
			.navbar-custom-menu {
				padding-right: 10px;
				li {
					a {
						padding-left: 5px;
						padding-right: 5px;
					}
					.dropdown-menu {
						background: transparent;
					}
					&.notifications-menu{
						a {
							padding-left: 15px;
							padding-right: 15px;
							.label{
							}
						}
					}
				}
			} 
		}
	}
	.main-sidebar {
		top: 50px;
		.main-header {
			display: none;
		}
		.user-panel {
			display: none;
		}
		.sidebar {
			top: 10px;
		}
	}
	.content-wrapper {
		top: 50px;
	}
}

.steedos.login {
		.main-header {
			background: transparent;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.13);
			.navbar.navbar-static-top {
				margin-left: 0px;
				box-shadow: 0 0 0 0;
			}
		}
}

@media screen and (max-width: 767px){
	.steedos{
		/*当上面的顶部栏被隐藏后，底部高度会出现空白，设置为满屏高度就能解决问题*/
		height: 100%;
		.skin-admin-lte{
			height: 100%;
			.wrapper{
				height: 100%;
			}
		}
		/*手机上隐藏右上角的顶部栏*/
		.main-header {
			display: none;
		}
		.login{
			.main-header {
				display: block;
			}
		}
		.main-sidebar{
			top: 0px;
			.main-header {
				display: block;
				background: transparent;
				box-shadow: none;
				.logo {
					width: 230px;
					.logo-mini {
						display: none;
					}
				}
			}
			.user-panel {
				display: block;
			}
			.sidebar {
				top: 50px;
			}
		}
		.content-wrapper {
			top: 0px;
		}
	}

	.steedos.login {
			.main-header {
				display: block;
			}
	}

}

