.steedos{

	table.dataTable {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.contacts-list-wrapper {
		right: 0;
		left: 0;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		overflow-y: hidden;
		position: absolute;
		top: 0px;
		bottom: 0px;
		border-right: 1px solid #d2d6de;

		.contacts-tree{
			background-color: #fff;
			height: calc(~"100% - 43px");
			overflow-y: auto;
			.box-solid{
				margin-bottom: 0px;
			}
			.box-body{
				height: 100%;
			}
		}
		
		.contacts-list {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			top: 51px;
			bottom: 0px;
			right: 0px;
			left: 0px;
			position: absolute;
			background-color: white;

			.contacts-name {
					font-weight: bold
			}
			.contacts-modified {
					padding-right: 10px;
					float: right;
			}
			.contacts-applicant {
					padding-left: 10px;
			}

		}

		.navigation-title {
			overflow: visible !important;
		}
		.navigation-bar{
			overflow: hidden;
		}

		.dataTables_wrapper {
			
			.dataTable {
				background: white;
				border-top: 0px;
				margin-top: 0px !important;

				thead {
					display: none
				}

			}
			.dataTables_paginate {
				padding-right: 10px;
			}
			.table > tbody > tr > td {
				border-bottom: 1px solid #E8E8E8;
				border-top: 0px;
			}
		}

	}

	.contacts-wrapper {
		position: absolute;
		top: 0px;
		bottom: 0px;
		width: 65%;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;

		.pull-right{
			position: relative;
			top: -1px;
			width: 200px;
		}

		@media screen and (max-width: 1024px){
			.pull-right{
				width: 160px;
			}
		}

		@media screen and (max-width: 767px){
			.pull-right{
				width: 150px;
			}
		}

		.contacts-name {
				font-weight: bold
		}
		.contacts-modified {
				padding-right: 10px;
				float: right;
		}
		.contacts-applicant {
				padding-left: 10px;
		}

		.contacts {
			position: absolute;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			top: 51px;
			bottom: 0px;
			right: 0px;
			left: 0px;
			padding: 0px;
			background-color: white;
			@media (max-width: 420px){
				/*手机上竖着看不显示水平滚动条*/
				overflow-x: hidden;
			}

			.row {
				margin-right: 0px;
				margin-left: 0px;
			}

			.contacts-suggestion.box {
				//border-top: 0px;
			}

			.box-body {
				padding-left: 15px;
				padding-right: 15px;
			}

			.contacts-form .box-body, .contacts-suggestion .box-body {
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		.navigation-bar{
			height: 51px;
		}

		.contacts-mobile{
			.search-box{
				border-bottom: solid 1px #eee;
				.contact-list-search-key{
					border: none;
				}
				.btn-clear{
					padding: 4px 6px;
					margin-top: 2px;
				}
			}
			.dataTable{
				thead{
					display: none;
				}
				tbody{
					tr{
						&:nth-of-type(odd){
							background: none;
						}
						td{
							height: 28px;
							line-height: 28px;
							.contacts-users-mobile-avatar, .contacts-organizations-mobile-avatar{
								position: absolute;
								height: 28px;
								line-height: 28px;
								img{
									width: 25px;
									height: 25px;
									border-radius: 4px;
									margin-top: -4px;
								}
							}
							.contacts-users-mobile-name, .contacts-organizations-mobile-name{
								position: absolute;
								left: 42px;
								right: 10px;
								height: 28px;
								line-height: 28px;
							}
							.contacts-organizations-mobile-avatar{
								background: rgba(228, 229, 230, 0.68);
								padding: 4px;
								border-radius: 4px;
								.ion{
									font-size: 22px;
									color: rgba(63, 135, 217, 0.55);
								}
							}
						}
					}
				}
				&.datatable-mobile-organizations,&.datatable-mobile-users{
					&+.dataTables_paginate{
						display: none!important;
					}
				}
			}
		}

	}

	.contacts-main{
		.control-sidebar{
			padding-top: 0px;
		}
	}

	.org-bar{
		&.navigation-bar{
			padding-top: 14px;
			cursor: pointer;
			text-align: center;
			background: #f9f9f9;
		}
	}


	@media (min-width: 768px) {
		.contacts-main {
			.contacts-list-wrapper {
				display: block;
				right: 65%;
			}
			.contacts-wrapper {
				left: 100%;
				width: 65%;
				transform: translate(0, 0);
			}   
		}
		.contacts-main.contacts-show {
			.contacts-list-wrapper {
				right: 65%;
				transition: 0.3s ease-in-out, width 0.3s ease-in-out;
				display: block !important;
				z-index: auto;
				top: 0px;
				.contacts_back{
					display: none;
				}

				.offcanvas{
					display: inline-block;
				}

				.navigation-bar{
					display: block;
				}
			}
			.contacts-wrapper {
				width: 65%;
				left: 35%;
				transition: 0.3s ease-in-out, width 0.3s ease-in-out;
				.offcanvas{
					display: none;
				}
			}   
		}
	}

	@media (max-width: 767px) {
		.contacts-main {
			.contacts-list-wrapper {
				display: block;
				width: 100%;
				left: 0;
				border-right: 0px;
				transition: 0.3s ease-in-out;
			}
			.contacts-wrapper {
				left: 100%;
				width: 100%;
				transition: 0.3s ease-in-out;
			}
		}
		.contacts-main.contacts-show {
			.contacts-list-wrapper {
				display: none;
				width: 100%;
				z-index: 1010;
				top: 85px;
				bottom: 50px;

				.contacts_back{
					display: inline-block;
				}

				.offcanvas{
					display: none;
				}

				.navigation-bar{
					display: none;
				}

				.contacts-tree{
					height:100%;
				}
			}
			.contacts-wrapper {
				left: 0;
				width: 100%;
				transition: 0.3s ease-in-out;
				background: #fff;
				.contacts{
					top: 86px;
					bottom: 50px;
				}
				.offcanvas{
					display: inline-block;
				}
				&.contacts-wrapper-mobile{
					.contacts{
						top: 51px;
						&.mobile-searching{
							top: 0px;
						}
					}
				}
			}
		}
	}

}


.steedos-contacts,.steedos-admin{
	.box{
		border-radius: 0px;
		box-shadow: none;
	}

	.box-header{
		border-bottom: 1px solid #d2d6de;
	}

	.valueLabel {
		background-color: #fff;
		border: 1px solid #ccc;
		display: inline-block;
		padding: 4px 6px;
		color: #555;
		vertical-align: middle;
		border-radius: 0px;
		width: 100%;
		min-height: 32px;
		line-height: 22px;
		cursor: text;
		list-style:none;
		overflow-x: auto;
	}

	.valueLabel:after{
		clear: both;
		content: '';
		display:block;
	}

	.valueLabel li {
		cursor: move;
		margin: 4px 5px 4px 0;
		padding: 2px 4px;
		background-color: #5F9EDF;
		text-align:center;
		color:#fff;
		font-size:13px;
		display: inline;
	}

	.valueLabel .remove{
		background-color: #5F9EDF;
		margin: 0 5px 4px 0;
		cursor: pointer;
	}

	

	.contacts-list{
		// height: 645px;
		background-color: #fff;
		border: 1px solid #d2d6de;
		.box{
			border: 0px !important;
			box-shadow: #fff 0px 0px 0px;
			margin-bottom: 0px;
		}
	}

	.contacts-admin{
		margin-top: 20px;
	}

	.valueLabel-div{
		text-align: left;
	}
	.datatable-steedos-contacts{
		tr[data-id]{
			cursor: pointer;
		}
		.drag-source{
			cursor: pointer;
			&.drag-source-moving{
				background-color: #fcf8e3;
				button{
					display:none;
				}
			}
		}

	}
	.steedos-mail-contacts-modal{
		.contacts_orgs_list_table{
			.datatable-steedos-contacts{
				tr{
					cursor: pointer;
				}
			}
		}
	}
	.contacts_orgs_list_table{
		.datatable-steedos-contacts{
			tr{
				th{
					min-width: 80px;
					&:nth-last-child(1),&:nth-last-child(2){
						min-width: auto;
					}
					@media (max-width: 420px){
						display: none;
					}
				}
				td{
					@media (max-width: 420px){
						display: none;
						&:nth-child(1){
							display: block;
						}
					}
				}
			}
		}
	}
}

.contacts-detail-info-modal{
	.weui-btn-area{
		.weui-btn{
			margin-top: 4px;
			&.steedos-info-copy{
				margin-right: 14px;
			}
		}
		.btn{
			margin-right:5px;
			&:last-child{
				margin-right:0px;
			}
			&.steedos-info-edit,&.steedos-info-delete{
				@media (max-width: 420px){
					display: none;
				}
			}
		}
	}
	.weui-modal-content{
		position: relative; 
		background-color: #FFFFFF; 
		padding-top: 1px; 
		padding-bottom: 15px;
		overflow-y: auto;
		.weui-cell_primary.text-muted {
			width: calc(~"100% - 105px");
			.weui-input {
				word-wrap: break-word;
			}
		}
		.weui-cells{
			margin-top: -3px;
			font-size: 14px;
			.btn-edit-username{
				padding: 0 12px;
				font-size: 100%;
			}
			.user-org-list{
				width: 100%;
			}
			.user-org-item{
				.badge{
					margin-top: -2px;
					margin-left: 6px;
				}
				&:hover .btn-set-primary{
					display: inline!important;
					margin-top: -2px;
					margin-left: 6px;
				}
			}
		}
	}
}

.contacts-settings{
	.users-list{
		li{
			width: 150px;
		}
		img{
			width: 30px;
			height: 30px;
		}
	}

	.settings-hidden{
		padding-left: 20px;
		padding-right: 20px;
	}

	.profile_item_right_btnTips{
		font-size: 13px;
		color: #787878;
		padding-left: 5px;
	}
}

