.admin-home-content .admin-grids .admin-grid-item .admin-grid-icon i.ion, .admin-home-content .admin-grids .admin-grid-item .admin-grid-icon i.fa {
    font-size: 36px;
    color: #008d4c;
}
.admin-home-content .admin-grid-icon {
    width: 27px;
    height: 40px;
    width:100%;
}
.admin-home-content .admin-grid-label {
    width: 27px;
    height: 40px;
    width:100%;
    color: #3e3e3e;
}