.steedos-table .item-readonly{
    cursor: pointer;
}

.steedos-table table .removed{
    min-width: 31px;
    width: 31px;
    text-align: center;
}

.steedos-table table tbody .edit{
    cursor: pointer;
}

.steedos-table table .number{
    text-align: right;
}

.steedos-table table thead .title{
    min-width:50px;
}

.steedos-table .checkbox, .steedos-table .radio{
    margin-top: 0;
    margin-bottom: 0;
    display: table-cell;
    border-radius: 0;
}

.steedos-table .steedosTable-add-item{
    padding:3px 8px;
}

.steedos-table .panel-body .panel-heading{
    background-color: #f5f5f5;
    border-color: #ddd;

    .description{
        display: inherit;
    }
}

.instance-table .form-table .form-group {
    .steedos-table {
        .autoform-table {
            .add-item-tr {
                cursor: pointer;
                .ion {
                    position: relative;
                    top: 1px;
                    margin-right: 8px;
                }
            }
            tr {
                td {
                    border-top: 1px solid #000 !important;
                    border-bottom: 0px !important;
                }
            }
            td:last-child {
                border-right: 1px solid transparent !important;
            }
        }
    }
}

.steedos-table-modal .steedos-table-modal-body{
    overflow-y:auto;

    .panel{
        // min-height: 270px;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
        .panel-body{
            padding: 5px 15px;
            border: none;
            position:relative;
        }

        .panel-heading{
            display: none;
        }
    }
}

.steedosTable-item-add{
  padding: 2px 7px;
}