

.history-sign-approve {
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
    .select-suggestion-td {
        .select-suggestion {
            margin-bottom: 0;
            .weui-switch-cp {
                zoom: 0.7;
                margin-bottom: 0px;
            }
        }
    }
}
