.weui-tabbar {
	height: 50px;
	.weui-tabbar__item {
		padding: 5px 0 5px 0;
		.weui-tabbar__icon {
			font-size: 26px;
		}
		.weui-tabbar__label {
			margin: 0px;
			line-height: 1.2;
		}
	}
	.weui-tabbar__item.weui-bar__item_on {
		.weui-tabbar__icon, .weui-tabbar__label {
    		color: #09BB07;
    	}
	}
}


@media (min-width: 768px){
	.weui-tabbar {
		display: none;
	}
}